{
	"RootURL":           "popalg.org",
	"Title":             "Population algorithms",
	"TitleHTML":         "<h1><span class=\"hot\">Pop</span>ulation <span class=\"hot\">alg</span>orithms</h1>",
	"SubTitle":          "Numerical dynamics behind the scenes of various things",
	"Author":            "Petar Maymounkov",
	"AuthorTwitter":     "maymounkov",
	"DisqusShortname":   "maymounkov",
	"GoogleAnalyticsID": "UA-21782863-1",
	"FacebookAdminID":   "563193968"
}
